/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.s-tisers .row > div {
		text-align: center;
	}
	.tis-desc {
		display: block;
		margin-top: 10px;
	}
	.s-tisers .tis-desc, .s-tisers .tis-img {
		display: block;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.item-profi:last-child {
		margin-bottom: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top-phone, .logo, .top-header h1, .top-header h2 {
		text-align: center;
	}
	.logo {
		margin-bottom: 15px;
	}
	.top-phone .tab-item {
		font-size: 30px;
	}
	.s-contacts h2 {
		margin-bottom: 20px;

	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 675px) {
	.item-profi {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-header {
		margin-top: 30px;
	}
	.top-header h1 {
		font-size: 50px;
		line-height: 50px;
	}
	.top-header h2 {
		font-size: 28px;
	}
	.tabs-header .tabs .tab {
		font-size: 12px;
		padding: 15px 15px;
	}
	.button-wrap {
		text-align: center;
	}
	section h2 {
		font-size: 37px;
	}
	.item-profi-right h3 {
		font-size: 26px;
	}
	.s-contacts .tabs .tab {
		padding: 0 14px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media (min-height: 680px) and (min-width : 1921px) {
	.tabs-header {
		position: relative;
		bottom: 80px;
	}
	.tabs-header > div {
		width: 100%;
		max-width: 660px
	}
	.top-header {
		margin-top: 200px;
	}
}